<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="description" content="description of your site"/>
    <meta name="author" content="author of the site"/>
    <title>我的应用</title>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/bootstrap.min.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/styles.css"/>
    <script src="{$Think.config.resouce.js}/jquery.min.js"></script>
    <script src="{$Think.config.resouce.js}/bootstrap.min.js"></script>
    <script src="{$Think.config.resouce.js}/my.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<!-- 顶部 -->
<div class="top-menu">
    <div class="container">
    </div>
</div>
<!-- 顶部结束-->
<!-- 菜单栏 -->
{include file="/../../common/header" /}
<!-- 菜单栏结束-->

</body>
</html>