<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码找回</title>
    <link rel="stylesheet" href="{$Think.config.resouce.css}styles.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap.min.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap-responsive.css"/>
    <script src="{$Think.config.resouce.js}jquery.min.js"></script>
    <script src="{$Think.config.resouce.js}bootstrap.min.js"></script>
</head>
<body>
{include file="common/header" /}
<div class="register">
    <div class="bm_h">
        <span class="o"><a href="/apply/user/register">没有帐号？注册</a></span>
        <h2>密码找回</h2>
    </div>
    <div class="bm_c">
        <div class="a_lg">
            <form method="post" action="">
                <dl>
                    <dt>用户名:</dt>
                    <dd>
                        <input type="text" name="keynew" id="keynew" class="px" required="required" size="30" maxlength="30"/>
                    </dd>
                    <dt>电子邮箱:</dt>
                    <dd><input type="text" name="emailnew" id="emailnew" class="px" required="required" size="30"/></dd>
                    <dd>
                        <button type="submit" name="submit" id="submit" value="true" class="pnc"><strong>提 交</strong>
                        </button>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
{include file="common/footer" /}
</body>
</html>