<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="{$Think.config.resouce.css}styles.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap.min.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap-responsive.css"/>
    <script src="{$Think.config.resouce.js}jquery.min.js"></script>
    <script src="{$Think.config.resouce.js}bootstrap.min.js"></script>
</head>
<body>
{include file="/../../common/header" /}
<div class="register">
    <div class="bm_h">
        <h2>重置密码</h2>
    </div>
    <div class="bm_c">
        <div class="a_lg">
            <form method="post" action="/apply/user/resetPwd">
                <dl>
                    <dt>用户名:</dt>
                    <dd>
                        <input type="text" name="name" id="keynew" class="px" required="required" size="30" maxlength="30"/>
                    </dd>
                    <dd class="d">请输入原有账户用户名！</dd>
                    <dt>密码:</dt>
                    <dd>
                        <input type="password" name="password" id="emailnew" class="px" required="required" size="30"/>
                    </dd>
                    <dd class="d">请输入新密码！</dd>
                    <dd>
                        <button type="submit" name="submit" id="submit" value="true" class="pnc"><strong>提 交</strong>
                        </button>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
{include file="/../../common/footer" /}
</body>
</html>