<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="description" content="description of your site" />
	<meta name="author" content="author of the site" />
	<title>LvyeCms!开放平台</title>
	<link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap.css" />
	<link rel="stylesheet" href="{$Think.config.resouce.css}bootstrap-responsive.css" />
	<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />-->
	<link rel="stylesheet" href="{$Think.config.resouce.css}styles.css" />
	<link rel="stylesheet" href="{$Think.config.resouce.css}toastr.css" />
	<link rel="stylesheet" href="{$Think.config.resouce.css}fullcalendar.css" />
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
	<script src="{$Think.config.resouce.js}jquery-1.8.3.min.js" ></script>
	<script src="{$Think.config.resouce.js}bootstrap.js"></script>
	<script src="{$Think.config.resouce.js}query.knob.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="{$Think.config.resouce.js}jquery.sparkline.min.js"></script>
	<script src="{$Think.config.resouce.js}toastr.js"></script>
	<script src="{$Think.config.resouce.js}jquery.tablesorter.min.js"></script>
	<script src="{$Think.config.resouce.js}jquery.peity.min.js"></script>
	<script src="{$Think.config.resouce.js}fullcalendar.min.js"></script>
	<script src="{$Think.config.resouce.js}gcal.js"></script>
	<script src="{$Think.config.resouce.js}setup.js"></script>
	<link rel="stylesheet" href="{$Think.config.resouce.js}/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="{$Think.config.resouce.js}/kindeditor/themes/simple/simple.css" />
	<script charset="utf-8" src="{$Think.config.resouce.js}/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="{$Think.config.resouce.js}/kindeditor/lang/zh_CN.js"></script>
	<script>
		KindEditor.ready(function(K) {
			window.editor = K.create('#editor_id');
		});

	</script>
	<style type="text/css">
		/* 流程 */
		.step { margin-left: 80px; }
		.step li { float: left; padding: 15px 0; width: 80px; text-align: center; list-style: none; }
		.step li.a { color: #F68C03; }
		.step li.arrow { width: 20px; height: 38px; line-height: 0.8em; color: #E6E6E6; font-size: 40px; }
		.step em { display: block; margin: 0 auto 5px; width: 38px; height: 38px; line-height: 38px; background: #75AF18; color: #FFF; font-size: 20px; border-radius: 5px; }
		.step li.a em { background: #F68C03; }
		.step li.a{color:red;}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

{include file="common/header" /}

	<div class="page">
		<div class="page-container">
			<div class="container">
				<div class="row">
					<div class="span12 header">
						<ul class="step cl">
							<li class="a"><em>1</em><p>添加插件</p></li>
							<li class="arrow">&#8250;</li>
							<li><em>2</em><p>添加版本</p></li>
							<li class="arrow">&#8250;</li>
							<li><em>3</em><p>安全检查</p></li>
							<li class="arrow">&#8250;</li>
							<li><em>4</em><p>提交审核</p></li>
							<li class="arrow">&#8250;</li>
							<li><em>5</em><p>等待审核</p></li>
							<li class="arrow">&#8250;</li>
							<li><em>6</em><p>应用上线</p></li>
						</ul>
					</div>
					<div class="span6">
						<form class="form-horizontal" action="/apply/Apps/addAddon/typeid/{$typeid}" method="post" enctype="multipart/form-data" />
						<input type="hidden" name="types" value="{$typeid}">
						<div class="control-group">
							<label for="identifying" class="control-label">
								{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}标识 </label>
							<div class="controls">
								<input id="identifying" type="text" name="identification" placeholder='{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}标识' />
							</div>
						</div>
						<div class="control-group">
							<label for="addonname" class="control-label">{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}名称 </label>
							<div class="controls">
								<input id="addonname" type="text" name="name" placeholder='{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}名称' />
							</div>
						</div>
						<div class="control-group">
							<label for="logo" class="control-label">{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}预览图 </label>
							<div class="controls">
								<input id="logo" type="file" name="pre_thumb" placeholder="logo" />
							</div>
						</div>
						<div class="control-group">
							<label for="text" class="control-label">{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}{default /}模块{/switch}介绍</label>
							<div class="controls" id="text">
								<div class="tedt" style="width:650px">
									<textarea id="editor_id" name="content" style="width:700px;height:300px;"></textarea>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label for="addonname" class="control-label">{switch name="typeid"}
								{case value="0"}插件{/case}
								{case value="1"}模版{/case}
								{default /}模块{/switch}截图</label>
							<div class="controls">
								<input id="thumbs" type="file" name="thumbs[]" />
							</div>
							<div class="controls">
								<input id="thumbs" type="file" name="thumbs[]" />
							</div>
							<div class="controls">
								<input id="thumbs" type="file" name="thumbs[]" />
							</div>
							<div class="controls">
								<input id="thumbs" type="file" name="thumbs[]" />
							</div>
							<div class="controls">
								<input id="thumbs" type="file" name="thumbs[]" />
							</div>

						</div>

						<div class="control-group">
							<label for="redio" class="control-label">正版保护</label>
							<div class="controls" id="redio">
								<label class="radio-inline">
									<input type="radio" name="copyright" id="inlineRadio1" value="1" style="vertical-align:middle; margin-top:-2px; margin-bottom:1px;"> 是
									<input type="radio" name="copyright" id="inlineRadio2" value="0" style="vertical-align:middle; margin-top:-2px; margin-bottom:1px;"> 否
								</label>
							</div>
						</div>
						<input type="hidden" name="type" value="0">
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">提交</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="span12">
				<p class="pull-right">Admin Theme by Nathan Speller</p>
				<p>&copy; Copyright 2013 FreelanceLeague</p>
			</div>
		</div>
	</div>
</footer>
</body>
<script src="{$Think.config.resouce.js}d3-setup.js"></script><script>protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://'; address = protocol + window.location.host + window.location.pathname + '/ws'; socket = new WebSocket(address);
socket.onmessage = function(msg) { msg.data == 'reload' && window.location.reload() }</script>
</html>